<div class="row">
	<div class="col-md-12">
		<div class="blog-post">
			<h2 class="blog-post-title">A blog</h2>
			<p class="blog-post-date">
				July 13，2015 by
				<a href="javascript:;">Jenny</a>
			</p>
			<p>
				This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.
				This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.
			</p>
			<hr>
			<p>
				This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.
				This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.
			</p>
			<blockquote>
				<p>
					This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.
					<strong>and code are all supported.</strong>
				</p>
			</blockquote>
			<p>
				This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.
				This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.
			</p>
			<pre>
				<code>code</code>
			</pre>
			<h2>Heading</h2>
			<p>
				This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.
				This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.
			</p>
			<h3>sub_heading</h3>
			<p>
				This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.
				This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.
			</p>
		</div>
		
	</div>
	<!-- <div class="col-md-3 col-md-offset-1">
		<div class="subcontent">
			<h2>blog log</h2>
			<ol class="list-unstyled">
				<li><a href="#">March 2014</a></li>
				<li><a href="#">February 2014</a></li>
				<li><a href="#">January 2014</a></li>
				<li><a href="#">December 2013</a></li>
				<li><a href="#">November 2013</a></li>
				<li><a href="#">October 2013</a></li>
				<li><a href="#">September 2013</a></li>
				<li><a href="#">August 2013</a></li>
				<li><a href="#">July 2013</a></li>
				<li><a href="#">June 2013</a></li>
				<li><a href="#">May 2013</a></li>
				<li><a href="#">April 2013</a></li>
            </ol>
		</div>
	</div> -->
</div>