<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a href="javascript:;" class="navbar-brand">Jenny</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/"  ng-click="tab=1" ng-init="tab=1" ng-class="{'active':tab==1}">Home</a></li>
			<li><a href="/index/profile" ng-click="tab=2" ng-class="{'active':tab==2}">Profile</a></li>
			<li><a href="/index/link" ng-click="tab=3" ng-class="{'active':tab==3}">Link</a></li>
		</ul>
	</div>
</nav>