<div class="row" ng-init="renderList()">
	<div class="col-md-8">
		<div class="blog-post" ng-repeat="blog in blogList">
			<h2 class="blog-post-title">{{blog.title}}</h2>
			<p class="blog-post-date">
				{{blog.month}} {{blog.day}},{{blog.year}} by
				<a href="javascript:;">{{blog.author}}</a>
			</p>
			<p>
				{{blog.content[0].introduction}}
			</p>
			<hr>
			<p>
				{{blog.content[0].firstParagraph}}
			</p>
			<blockquote>
				<p>
					{{blog.quote}}
					<strong>{{blog.strongWord}}</strong>
				</p>
			</blockquote>
			<p>
				{{blog.content[0].secondParagraph}}
			</p>
			<!-- <pre>
				<code>{{blog.content[0].code}}</code>
			</pre>
			<h2>{{blog.content[0].heading}}</h2>
			<p>
				{{blog.content[0].headingContent}}
			</p>
			<h3>{{blog.content[0].subHeading}}</h3>
			<p>
				{{blog.content[0].subHeadingContent}}
			</p> -->
			<a href="/index/readmore" class="readmore">点击查看详情……</a>
		</div>
		<!-- <nav>
			<ul class="pager">
				<li><a href="javascript:;">Previous</a></li>
				<li><a href="javascript:;">Next</a></li>
			</ul>
		</nav> -->
		<nav>
			<span class="pagination pull-right" style="line-height:30px;margin-left:20px;color:#ea4c89;">共{{pagination.page_count}}页</span>
			<ul class="pagination pull-right">
				<li>
					<a href="#" ng-click = "switchPage(pagination.page_number-1)" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li>
					<a href="#">{{pagination.page_number}}</a>
				</li>
				<li>
					<a href="#" ng-click = "switchPage(pagination.page_number+1)" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="col-md-3 col-md-offset-1">
		<div class="subcontent">
			<h2>blog log</h2>
			<ol class="list-unstyled">
				<li><a href="#">March 2014</a></li>
				<li><a href="#">February 2014</a></li>
				<li><a href="#">January 2014</a></li>
				<li><a href="#">December 2013</a></li>
				<li><a href="#">November 2013</a></li>
				<li><a href="#">October 2013</a></li>
				<li><a href="#">September 2013</a></li>
				<li><a href="#">August 2013</a></li>
				<li><a href="#">July 2013</a></li>
				<li><a href="#">June 2013</a></li>
				<li><a href="#">May 2013</a></li>
				<li><a href="#">April 2013</a></li>
            </ol>
		</div>
	</div>
</div>