<div class="row" ng-init="readmore(1)">
	<div class="col-md-12">
		<div class="blog-post">
			<h2 class="blog-post-title">{{content.title}}</h2>
			<p class="blog-post-date">
				{{content.month}} {{content.day}} ,{{content.year}}by
				<a href="javascript:;">{{content.author}}</a>
			</p>
			<div class="blog-content">
				<p>
					{{content.introduction}}
				</p>
				<hr>
				<p>
					{{content.firstParagraph}}
				</p>
				<p>{{content.secondParagraph}}</p>
				<blockquote>
					<p>
						{{content.quote}}
						<strong>{{content.strongWord}}</strong>
					</p>
				</blockquote>
				<pre>
					<code>{{content.code}}</code>
				</pre>
				<h2>{{content.heading}}</h2>
				<p>
					{{content.headingContent}}
				</p>
				<h3>{{content.subHeading}}</h3>
				<p>
					{{content.subHeadingContent}}
				</p>
				<h3>Summary</h3>
				<p>{{content.summary}}</p>
			</div>
		</div>
		
	</div>
	<!-- <div class="col-md-3 col-md-offset-1">
		<div class="subcontent">
			<h2>blog log</h2>
			<ol class="list-unstyled">
				<li><a href="#">March 2014</a></li>
				<li><a href="#">February 2014</a></li>
				<li><a href="#">January 2014</a></li>
				<li><a href="#">December 2013</a></li>
				<li><a href="#">November 2013</a></li>
				<li><a href="#">October 2013</a></li>
				<li><a href="#">September 2013</a></li>
				<li><a href="#">August 2013</a></li>
				<li><a href="#">July 2013</a></li>
				<li><a href="#">June 2013</a></li>
				<li><a href="#">May 2013</a></li>
				<li><a href="#">April 2013</a></li>
            </ol>
		</div>
	</div> -->
</div>